.finder {
    box-sizing: border-box;
    background-color: white;
    min-height: inherit;
    height: 100%;

    &-container {
        @extend .d-flex;
        @extend .flex-wrap;
        @extend .align-items-start;
        @extend .p-2;
        height: inherit;
        box-sizing: border-box;
        min-height: inherit;
        position: relative;
        padding-top: 0;
    }

    &-item {
        //border: 1px solid transparent;
        @extend .rounded;
        @extend .text-secondary;
        cursor: default;
        padding: .8rem;
        margin: .5rem;
        margin-top: 0;
        text-align: center;
        width: 125px;
        text-decoration: none;

        &.selected {
            background-color: transparentize($primary, .75) !important
        }

        &:hover {
            background-color: transparentize($warning, .75);
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: .5rem;
            height: 90px;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        &__name {
            display: flex;
            align-content: center;
            justify-content: center;
            line-height: 1.1rem;
            font-size: .9rem;
            p {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                word-break: break-all;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 36px; /* fallback */
                padding: 0;
                margin: 0;
            }
        }
    }
}
